@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@import "variables";
@import "~bootstrap/scss/bootstrap";

@each $name, $width in $grid-breakpoints {
  ._g_w-#{$name} {
    width: 100%;
    max-width: $width;
  }
}

html {
  font-family: 'Montserrat', sans-serif;
}
